body{
    background: #000;
}
.produsct{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 15px;
}
.products_item{
    display: flex;
    flex-direction: column;
    row-gap:20px;
    padding: 10px;
    align-items: center;
    width: 300px;
    background: #333;
}
.products_item_img{
    width: 90%;
}
.products_item_name{
    font-size: 21px;
    font-weight: 600;
    color: #FFF;
}